@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Gideon+Roman&family=Graduate&family=Rampart+One&display=swap');

body {
  background-color: darkred;
  text-align: center;
  font-family: 'Gideon Roman', cursive;
}

li {
  list-style-type: none;
  display: inline;
}

h1 {
  color: antiquewhite;
  font-size: 6em;
  margin-bottom: 1.5em;
  text-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
  margin-top: 0;
  cursor: pointer;
}

h2 {
  color: antiquewhite;
  font-size: 4em;
  margin-bottom: 1.5em;
  text-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
}

h3 {
  color: antiquewhite;
  font-size: 2.5em;
  margin-bottom: 1.5em;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.home-image {
  margin-top: -16em;
}

nav {
  padding: 0 20px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin-right: 10px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li.nav-home {
  margin-right: auto;
}

nav ul li a {
  color: antiquewhite; 
  text-decoration: none; 
  font-weight: bold;
  font-size: 1.25em;
}

nav ul li a:hover {
  text-decoration: underline; 
}

.link-container ul {
  display: flex; 
  justify-content: center; 
}

.link-container li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 6em; 
}

.link-container a {
  text-decoration: none; 
  color: antiquewhite; 
  font-weight: bold; 
  font-size: 3em;
}

.link-container a:hover {
  text-decoration: underline; 
}

.image-style {
  width: 20em; 
  height: auto; 
}

.authors-container ul {
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 0;
}

.authors-container li {
  margin-bottom: 10px; 
}

.authors-container li a {
  text-decoration: none;
  color: antiquewhite;
  font-weight: bold;
  font-size: 2em;
}

.authors-container li a:hover {
  text-decoration: none;
}

.author-quote-container ul {
  list-style-type: none; 
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author-quote-container ul li {
  margin-bottom: 10px; 
  color: antiquewhite;
  font-weight: bold;
  font-size: 2em;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.categories-container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.categories-container li {
  margin-bottom: 10px;
}

.categories-container li a {
  text-decoration: none;
  color: antiquewhite;
  font-weight: bold;
  font-size: 2em;
}

.categories-container li a:hover {
  text-decoration: underline;
}

.category-quotes-container li h3 {
  color: lightgray;
  margin-bottom: 0.5em; 
}

.category-quotes-container li p {
  margin-top: 0.5em;
}

.category-quotes-container p.quote {
  color: antiquewhite;
  font-size: 1.8em; 
}

.category-quotes-container p.date,
.category-quotes-container p.source {
  color: rgb(163, 159, 159);
  font-size: 1em; 
}


/* Styles for screens smaller than 600px */
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 3em;
    margin-bottom: 1em;
  }

  h2 {
    font-size: 2em;
    margin-bottom: 1em;
  }

  h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  .home-image {
    margin-top: -8em;
    width: 10em; 
    max-width: 100%;
    height: auto;
  }

  nav ul li a {
    font-size: 1em;
  }

  .link-container a {
    font-size: 2em;
  }

  .link-container li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3em; 
  }

  .image-style {
    width: 15em;
  }

  .authors-container li a {
    font-size: 1.5em;
  }

  .author-quote-container ul li {
    font-size: 1.5em;
  }

  .categories-container li a {
    font-size: 1.5em;
  }

  .category-quotes-container p.quote {
    font-size: 1.2em;
  }

  .category-quotes-container p.date,
  .category-quotes-container p.source {
    font-size: 0.8em;
  }
}
