@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Gideon+Roman&family=Graduate&family=Rampart+One&display=swap');

body {
  background-color: darkred;
  text-align: center;
  font-family: 'Gideon Roman', cursive;
}

li {
  list-style-type: none;
  display: inline;
}

h1 {
  color: antiquewhite;
  font-size: 6em;
  margin-bottom: 1.5em;
}

nav {
  padding: 0 20px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin-right: 10px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li.nav-home {
  margin-right: auto;
}

nav ul li a {
  color: antiquewhite; 
  text-decoration: none; 
  font-weight: bold;
  font-size: 1.25em;
}

nav ul li a:hover {
  text-decoration: underline; 
}

.link-container ul {
  display: flex; 
  justify-content: center; 
}

.link-container li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 6em; 
}

.link-container a {
  text-decoration: none; 
  color: antiquewhite; 
  font-weight: bold; 
  font-size: 3em;
}

.link-container a:hover {
  text-decoration: underline; 
}

.image-style {
  width: 20em; 
  height: auto; 
}